html {
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue',
    cursive, sans-serif;

}

* {
  box-sizing:border-box;
}

header {
  background-color: white;
  flex: 1 0 20%;
  min-width: 150px;
  border: solid 2px #33CC00;

}
main {
  background-image: url(https://cdn.glitch.com/63c3694b-7cdb-48f0-a16c-f74e60c77df0%2Fgbg.gif?v=1562719068658);
  flex: 1 1 80%;
  min-height: 100vh;
}

footer {
  background-color: white;
  flex: 0 0 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

nav ul {
  flex: 1 1 auto;
  list-style: none;
  padding: 0;
  margin: 0;;
  width: 100%;
  --auto-grid-min-size: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;

}

nav a img {
  width: 100%;
}


article {
  padding: 2rem;
  margin: 2rem;
  background-color: white;
}

article img {
  max-width: 100%;
  height: auto;
}
