<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="https://glitch.com/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="A Petz Site"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.5"/>
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
    {% seo "" %}
  </head>
  <body>
    <header>
      <a href="/"><img src="/public/petz36.png" alt="Unique Petz Logo"><h1>Unique Petz</h1></a>
    </header>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html></body></html>
